html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* body {
    background: url('../images/futuristic-7148439_1920.jpg');
} */

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



canvas {
  position: absolute;
  left: 0;
  top: 0;
}
