html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* body {
    background: url('../images/futuristic-7148439_1920.jpg');
} */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu_subitem {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.menu_item {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
}

.menu_subitem:hover {
    transition: transform 0.3s ease-in;
    transform: scale(1.1);
}


canvas {
    position: absolute;
    left: 0;
    top: 0;
}